body {
  background-color: black;
  max-width: 100%;
}

.container {
  margin: 0;
  padding: 10px;
  list-style: none;
  box-sizing: border-box;
}

#photo-gallery {
  overflow: hidden;
}

#photo-gallery .media_grid_item {
  float: left;
  width: 47%;
  position: relative;
  min-height: 200px;
  overflow: hidden;
  /* border: 3px solid rgba(255,255,255,0.35); */
  margin-bottom: 5px;
  margin-left: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(255,255,255, 0.25);

}
#photo-gallery .media_grid_item img,
#photo-gallery .media_grid_item video {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

#photo-gallery .media_grid_item.new_media {
  border-color: rgba(117,233,0, 0.45);
}

#photo-gallery .media_grid_item:active,
#photo-gallery .media_grid_item .new_media:active {
  border-color: rgba(255,158,34,0.85);
}
